
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Featured Items</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body class="featured-body">
    <%- include('partials/_nav') %>
    <%- include('partials/_search') %>
    <div class="featured">
      <h1 class="feature-title">Featured Galaxies</h1>
    </div>
    <section class="items-display">
      <% for (let item of items) { %>
        <article class="featured-listing">
          <h1><%= item.name %> </h1>
          <img src="<%= item.photo_url %>" class="featured-image">
        </article>
      <% } %>
    </section>
  </body>
</html>
