<form action="/items" method="POST">
  <div>
    <label>Make your Post</label>
    <input type="text" name="item name" placeholder="item name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="price" placeholder="price">
    <input type="text" name="photo_url" placeholder="photo_url">
    <input type="radio" name="sold">
    <button type="submit" id="b1">Create Post</button>
  </div>
</form>
