// See: https://sass-lang.com/

body {
  margin-top: 120px
  background-color: white;

  h1 {
    color: #244751;
  }
}

#logo {
  width: 100px;
}


nav {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.items-display {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-listing {
  background-color: lightgray;
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

}
