// See: https://sass-lang.com/

body {
  background-color: orange;

  h1 {
    color: #244751;
  }
}

#logo {
  width: 100px;
}


nav {
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}
