// See: https://sass-lang.com/

body {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 90px;
  background-color: #f3f5f9;

  h1 {
    color: #244751;
  }
}

a {
  color: white
}

#logo {
  width: 120px;
}

img {
  width: 300px;
}

// img:hover {
//   -ms-transform: scale(2.5); /* IE 9 */
//   -webkit-transform: scale(2.5); /* Safari 3-8 */
//   transform: scale(2.5);
// }

nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

a {
  color: white;
}

.items-display {
  background-color: gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.item-listing {
  background-color: lightgray;
  margin: 20px 0;
  padding: 12px;
  width: 100%;
  max-width: 500px;
  height: 450px;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  transition: transform .2s;
}
.item-listing:hover{
  box-shadow: 8px 8px rgb(0, 0, 0);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.1);
}


.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

.item-actions {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
}

.search-bar {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}
.search-button {
   padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.featured{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


#new-form-body {
  background-color:#f3f5f9;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 5em;
}

#content {
  font-family:'Orbitron', sans-serif;
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 75px auto 0;
  padding: 40px;
  max-width: 475px;
  min-width: 0;
  min-width: unset;
  background: #fff;
  border: 1px solid #dee1e8;
  box-shadow: 0 0 60px 0 rgba(131,140,159,0.25);
  border-radius: 3px;
  background-color: white;
  vertical-align: baseline;
  white-space: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#new-form {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction: column;
  line-height: 36px;
}

#new-item-button {
    position: relative;
    transition: none;
    background-color: rgb(236, 161, 236);
    margin-top: 1em;
}

hr {width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#note {
  margin-top: 3em;
  font-weight:100;
  font-size: x-small;
  display: flex;
  align-items: center;

}

#create-post-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messages-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;

}

#message-inbox {
  font-size: 2em;
  font-weight: bold;
}

.msg-body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-history {
  padding: 1em;
  border: black 2px solid;
  margin: 1em;
  width: 80%;
  word-break: break-word;
  transition: transform .2s;
  background-color: lightgray;
}

.message-history:hover {
  box-shadow: 8px 8px #0a5872;
  transform: scale(1.1);
}

.message-display-1-on-1 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    /* padding: 5em; */
    margin: 7em;
    border: black 2px solid;
    background-color: lightgray;
}

.message-history-1-on-1 {
  padding: 1em;
  /* border: black 2px solid; */
  margin: 1em;
  width: 100%;
  word-break: break-word;
}

.new-message {
  padding: 16px;
  margin: 16px;
}

.message {
   display: flex;
   align-items: center;
 }
